:root {
  --border-color: #ECEEEF;
}

.category {

}

.category h4 {
  text-transform: capitalize;
}

.book {
  border-top: 1px solid var(--border-color);
  display: flex;
  padding: 0.75rem;

  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .05);
  }
}

.book h5 {
  flex-grow: 1;
  margin: 0;
}

.stars {
  color: #FFCD51;
  margin-left: 0.25rem;
}